[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
django-bootstrap5 = "*"
install = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
